.centered {
  display: block;
  margin: auto; }

@font-face {
  font-family: "vag_rounded-boldregular";
  src: url("../fonts/vag-rounded-bold-webfont.woff2") format("woff2"), url("../fonts/vag-rounded-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "vag_roundedregular";
  src: url("../fonts/vag-rounded-light-webfont.woff2") format("woff2"), url("../fonts/vag-rounded-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body.loginBg {
  background-color: #bec2cd;
  background-image: url(../img/loginbg@2x.png);
  background-size: cover;
  background-repeat: no-repeat; }

.login-logo {
  margin-top: 14vh; }
  .login-logo img {
    height: 10vh;
    margin: auto;
    width: auto;
    display: block; }

.login-form {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 7.1875em;
  width: 100%;
  max-width: 18.75em; }
  .login-form input {
    height: 40px;
    background: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 0;
    color: #333;
    width: 100%;
    max-width: 18.75em;
    padding-left: 0.4em;
    font-size: 1em;
    margin-top: 2em; }
    .login-form input::-webkit-input-placeholder {
      color: #333; }
    .login-form input:focus {
      outline: 0;
      border-color: #f5d66e;
      box-shadow: none; }
  .login-form .submit-btn {
    width: 100%;
    max-width: 300px;
    margin-top: 1.5em;
    background: #f5d66e;
    border: 0;
    color: white;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    font-size: 1.15em;
    padding: 0.9em;
    height: auto;
    letter-spacing: 1px;
    line-height: normal; }
    .login-form .submit-btn:active, .login-form .submit-btn:hover {
      background: #f3cf56;
      outline: 0;
      border: 0;
      color: white; }
  .login-form .forgot-link {
    float: right;
    color: white;
    margin-top: 0.5em;
    text-decoration: none;
    font-size: 0.8em;
    font-family: "vag_roundedregular", helvetica, arial, sans-serif; }

.signup-link {
  position: absolute;
  bottom: 0.95em;
  color: white;
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 1.1em;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  float: left; }
  .signup-link:hover, .signup-link:focus, .signup-link:visited {
    color: white;
    text-decoration: none; }

.login-trouble-signing-link {
  font-family: "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 0.8em;
  float: right;
  position: absolute;
  right: 0.95em;
  bottom: 1.6em;
  z-index: 3;
  color: white; }
  .login-trouble-signing-link:hover, .login-trouble-signing-link:focus, .login-trouble-signing-link:visited {
    color: white;
    text-decoration: none; }

body.greenBg {
  background-color: #5bbaaf;
  background-image: url(../img/startscreen@2x.png);
  background: -webkit-linear-gradient(-45deg, #458d85, #5bbaaf);
  background: linear-gradient(-45deg, #458d85, #5bbaaf);
  background-size: cover;
  background-repeat: no-repeat; }

.start-logo {
  margin-top: 10.875em; }
  .start-logo img {
    margin: auto;
    width: auto;
    display: block;
    height: 16vh; }

.dashboard-top {
  position: relative;
  height: 37%;
  width: 100%;
  background-color: #5cd3d4;
  background-image: url(../img/dashboard-top_bg.png);
  background: -webkit-linear-gradient(45deg, #7bbeef, #61d4ca, #dbcd8d);
  background: linear-gradient(45deg, #7bbeef, #61d4ca, #dbcd8d);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 9px 3px;
    margin-bottom: 0; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #f4f2f9;
      width: 21px;
      height: 3px;
      border-radius: 2px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent; }

.user-avatar {
  position: relative;
  height: 95px;
  width: 95px;
  background: #fafafa;
  border-radius: 50px;
  border: 4px solid #f1f0f6;
  margin: auto;
  display: block;
  overflow: hidden; }
  .user-avatar img {
    height: 100px;
    width: 100px; }

.user-title {
  text-align: center;
  color: #f4f2f9;
  margin-top: 10px; }
  .user-title h4 {
    font-size: 1.3125em;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    margin: 0; }
  .user-title p {
    font-size: 0.9375;
    font-family: "vag_roundedregular", helvetica, arial, sans-serif;
    margin-top: 5px; }

.nav-tabs {
  position: absolute;
  height: 30px;
  width: 100%;
  max-width: 450px;
  padding: 0px 5px;
  bottom: 0px;
  border: none;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto; }
  .nav-tabs li {
    width: 45%; }
  .nav-tabs li:first-child {
    width: 25%; }
  .nav-tabs li:last-child {
    width: 30%; }
  .nav-tabs li > a, .nav-tabs li.active > a, .nav-tabs li.active > a:focus, .nav-tabs li.active > a:hover {
    background-color: transparent;
    font-size: 4vw;
    padding: 0;
    border: 0;
    line-height: normal;
    color: white; }
  .nav-tabs li > a {
    font-family: "vag_roundedregular", helvetica, arial, sans-serif;
    text-transform: uppercase; }
  .nav-tabs li.active a {
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    text-transform: uppercase; }
    .nav-tabs li.active a span {
      border-bottom: 2px solid #fff;
      padding-bottom: 3px; }

.tab-content {
  position: relative;
  margin-top: 20px; }

.dashboard-chart .generalProgress {
  font-size: 40px;
  font-weight: bold;
  top: -10px; }
.dashboard-chart .weeklyProgress {
  font-size: 1em;
  text-anchor: middle;
  font-weight: bold;
  padding-top: 10px; }

@media screen and (min-width: 768px) {
  .dashboard-top {
    height: 27%; } }
@media screen and (min-width: 768px) {
  .nav-tabs {
    bottom: 0.8em; }
    .nav-tabs li > a, .nav-tabs li.active > a, .nav-tabs li.active > a:focus, .nav-tabs li.active > a:hover {
      font-size: 2.2vw; } }
@media screen and (min-width: 400px) {
  .user-title {
    margin-top: 15px; } }
@media screen and (min-width: 400px) {
  .user-avatar {
    height: 100px;
    width: 100px; } }
@media screen and (max-width: 320px) {
  .dashboard-top {
    height: 42%; } }
html {
  font-size: 16px;
  font-family: "vag_roundedregular", "helvetica", Arial, sans-serif;
  height: 100%; }

body {
  min-height: 100%;
  height: 100%;
  background-color: white; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.align-center {
  text-align: center; }

.adecco-logo {
  position: absolute;
  bottom: 0.95em;
  left: 0.95em;
  z-index: 1; }

.container {
  min-height: 100%;
  margin-bottom: -40px;
  padding-bottom: 40px; }

/*# sourceMappingURL=main.css.map */
