@charset "UTF-8";
.centered, .login-form .submit-btn, .login-form .submitted-btn, .login-form .social-next-btn, .signup-form .submit-btn, .signup-form .submitted-btn, .signup-form .social-next-btn, #profile_builder .strengthen-btn, .submit-btn, .submitted-btn, .social-bottom .done-btn, .social-next-btn, .filter-button {
  display: block;
  margin: auto; }

.bold {
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif; }

@font-face {
  font-family: "vag_rounded-boldregular";
  src: url("../fonts/vag-rounded-bold-webfont.woff2") format("woff2"), url("../fonts/vag-rounded-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "vag_roundedregular";
  src: url("../fonts/vag-rounded-light-webfont.woff2") format("woff2"), url("../fonts/vag-rounded-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "fontawesome";
  src: url("../fonts/fontawsome-webfont.eot") format("eot"), url("../fonts/fontawsome-webfont.ttf") format("ttf"), url("../fonts/fontawsome-webfont.woff") format("woff"), url("../fonts/fontawsome-webfont.woff2") format("woff2"), url("../fonts/FontAwesome.otf") format("otf");
  font-weight: normal;
  font-style: normal; }
body.loginBg {
  background-color: #bec2cd;
  background-image: url(../img/loginbg@2x.png);
  background-size: cover;
  background-repeat: no-repeat; }

.login-logo {
  margin-top: 14vh; }
  .login-logo img {
    height: 10vh;
    margin: auto;
    width: auto;
    display: block; }

.login-form {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 7.1875em;
  width: 100%;
  max-width: 18.75em; }
  .login-form input {
    height: 40px;
    background: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 0;
    color: #333;
    width: 100%;
    margin: auto;
    max-width: 300px;
    padding-left: 0.4em;
    font-size: 1em;
    margin-top: 2em; }
    .login-form input::-webkit-input-placeholder {
      color: #333; }
    .login-form input:focus {
      outline: 0;
      border-color: #f5d66e;
      box-shadow: none; }
  .login-form .submit-btn, .login-form .submitted-btn, .login-form .social-bottom .done-btn, .social-bottom .login-form .done-btn, .login-form .social-next-btn {
    width: 100%;
    margin-top: 1.5em;
    background: #f5d66e;
    border: 0;
    color: white;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    font-size: 1.15em;
    padding: 0.9em;
    height: auto;
    letter-spacing: 1px;
    line-height: normal; }
    .login-form .submit-btn:active, .login-form .submitted-btn:active, .login-form .social-bottom .done-btn:active, .social-bottom .login-form .done-btn:active, .login-form .social-next-btn:active, .login-form .submit-btn:hover, .login-form .submitted-btn:hover, .login-form .social-bottom .done-btn:hover, .social-bottom .login-form .done-btn:hover, .login-form .social-next-btn:hover {
      background: #f3cf56;
      outline: 0;
      border: 0;
      color: white; }
  .login-form .forgot-link {
    float: right;
    color: white;
    margin-top: 0.5em;
    text-decoration: none;
    font-size: 0.8em;
    font-family: "vag_roundedregular", helvetica, arial, sans-serif; }

.signup-link {
  position: absolute;
  bottom: 0.95em;
  color: white;
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 1.1em;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  float: left; }
  .signup-link:hover, .signup-link:focus, .signup-link:visited {
    color: white;
    text-decoration: none; }

.login-trouble-signing-link {
  font-family: "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 0.8em;
  float: right;
  position: absolute;
  right: 0.95em;
  bottom: 1.6em;
  z-index: 3;
  color: white; }
  .login-trouble-signing-link:hover, .login-trouble-signing-link:focus, .login-trouble-signing-link:visited {
    color: white;
    text-decoration: none; }

#login-password, #create-password, #repeat-password {
  font-family: "Helvetica", Arial, sans-serif; }

.login-logo {
  margin-top: 14vh; }
  .login-logo img {
    height: 10vh;
    margin: auto;
    width: auto;
    display: block; }

.signup-form {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 2em;
  width: 100%;
  max-width: 88vw; }
  .signup-form input {
    height: 40px;
    background: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 0;
    color: #333;
    width: 100%;
    margin: auto;
    max-width: 300px;
    padding-left: 0.4em;
    font-size: 1em;
    margin-top: 2.5em; }
    .signup-form input::-webkit-input-placeholder {
      color: #333; }
    .signup-form input:focus {
      outline: 0;
      border-color: #f5d66e;
      box-shadow: none; }
  .signup-form .submit-btn, .signup-form .submitted-btn, .signup-form .social-bottom .done-btn, .social-bottom .signup-form .done-btn, .signup-form .social-next-btn {
    width: 100%;
    margin-top: 1em;
    background: #f5d66e;
    border: 0;
    color: white;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    font-size: 1.15em;
    padding: 0.9em;
    height: auto;
    letter-spacing: 1px;
    line-height: normal; }
    .signup-form .submit-btn:active, .signup-form .submitted-btn:active, .signup-form .social-bottom .done-btn:active, .social-bottom .signup-form .done-btn:active, .signup-form .social-next-btn:active, .signup-form .submit-btn:hover, .signup-form .submitted-btn:hover, .signup-form .social-bottom .done-btn:hover, .social-bottom .signup-form .done-btn:hover, .signup-form .social-next-btn:hover {
      background: #f3cf56;
      outline: 0;
      border: 0;
      color: white; }
  .signup-form .forgot-link {
    float: right;
    color: white;
    margin-top: 0.5em;
    text-decoration: none;
    font-size: 0.8em;
    font-family: "vag_roundedregular", helvetica, arial, sans-serif; }
  .signup-form #signup-policies {
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 3em; }
    .signup-form #signup-policies ul {
      position: absolute;
      padding: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      text-align: center;
      display: block;
      height: 1em; }
      .signup-form #signup-policies ul li {
        width: 33%;
        text-align: center;
        list-style: none;
        display: inline; }
        .signup-form #signup-policies ul li a {
          font-family: "vag_roundedregular", helvetica, arial, sans-serif;
          font-size: 0.75em;
          color: white;
          text-decoration: underline;
          opacity: 0.8; }
      .signup-form #signup-policies ul li + li:before {
        content: "|";
        padding: 0 10px;
        color: white;
        opacity: 0.5; }

.signup-link {
  position: absolute;
  bottom: 0.95em;
  color: white;
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 1.1em;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  float: left; }
  .signup-link:hover, .signup-link:focus, .signup-link:visited {
    color: white;
    text-decoration: none; }

.login-trouble-signing-link {
  font-family: "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 0.8em;
  float: right;
  position: absolute;
  right: 0.95em;
  bottom: 1.6em;
  z-index: 3;
  color: white; }
  .login-trouble-signing-link:hover, .login-trouble-signing-link:focus, .login-trouble-signing-link:visited {
    color: white;
    text-decoration: none; }

.ahaa-link {
  font-family: "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 0.8em;
  margin-top: 1.5em;
  color: white;
  float: right; }
  .ahaa-link:hover, .ahaa-link:focus, .ahaa-link:visited {
    color: white;
    text-decoration: none; }

.signup-statement, .signup-personnal-statement, .signedup-statement, .confirmation-statement, .second-confirmation-statement {
  color: white;
  font-size: 1em;
  font-family: "vag_roundedregular", helvetica, arial, sans-serif;
  text-align: center;
  width: 100%; }

.signup-personnal-statement {
  font-size: 0.8em; }

body.greenBg {
  background-color: #5bbaaf;
  background-image: url(../img/startscreen@2x.png);
  background: -webkit-linear-gradient(-45deg, #458d85, #5bbaaf);
  background: linear-gradient(-45deg, #458d85, #5bbaaf);
  background-size: cover;
  background-repeat: no-repeat; }

.start-logo {
  margin-top: 10.875em; }
  .start-logo img {
    margin: auto;
    width: auto;
    display: block;
    height: 16vh; }

.dashboard-top {
  position: relative;
  height: 37%;
  width: 100%;
  background-color: #5cd3d4;
  background-image: url(../img/dashboard-top_bg.png);
  background: -webkit-linear-gradient(45deg, #7bbeef, #61d4ca, #dbcd8d);
  background: linear-gradient(45deg, #7bbeef, #61d4ca, #dbcd8d);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 9px 3px;
    margin-bottom: 0; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #f4f2f9;
      width: 21px;
      height: 3px;
      border-radius: 2px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent; }

.user-avatar {
  position: relative;
  height: 95px;
  width: 95px;
  background: #fafafa;
  border-radius: 50px;
  border: 4px solid #f1f0f6;
  margin: auto;
  display: block;
  overflow: hidden; }
  .user-avatar img {
    height: 100px;
    width: 100px; }

.user-title {
  text-align: center;
  color: #f4f2f9;
  margin-top: 10px; }
  .user-title h4 {
    font-size: 1.3125em;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    margin: 0; }
  .user-title p {
    font-size: 0.9375;
    font-family: "vag_roundedregular", helvetica, arial, sans-serif;
    margin-top: 5px; }

.nav-tabs {
  position: absolute;
  height: 30px;
  width: 100%;
  max-width: 450px;
  padding: 0px 5px;
  bottom: 0px;
  border: none;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto; }
  .nav-tabs li {
    width: 45%; }
  .nav-tabs li:first-child {
    width: 25%; }
  .nav-tabs li:last-child {
    width: 30%;
    float: right; }
  .nav-tabs li > a, .nav-tabs li.active > a, .nav-tabs li.active > a:focus, .nav-tabs li.active > a:hover {
    background-color: transparent;
    font-size: 4vw;
    padding: 0;
    border: 0;
    line-height: normal;
    color: white; }
  .nav-tabs li > a {
    font-family: "vag_roundedregular", helvetica, arial, sans-serif;
    text-transform: uppercase; }
  .nav-tabs li.active a {
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    text-transform: uppercase; }
    .nav-tabs li.active a span {
      border-bottom: 2px solid #fff;
      padding-bottom: 3px; }

.tab-content {
  position: relative;
  margin-top: 2vh; }

#dashboard-chart svg {
  margin: 2em auto;
  display: block; }
#dashboard-chart .generalProgress {
  font-size: 40px;
  font-weight: bold;
  top: -10px; }
#dashboard-chart .weeklyProgress {
  font-size: 1.5em;
  text-anchor: middle;
  font-weight: bold;
  padding-top: 10px; }

#profile_builder h4 {
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 0px;
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif; }
#profile_builder #pb-facebook-chart, #profile_builder #pb-linkedin-chart, #profile_builder #pb-twitter-chart, #profile_builder #pb-xing-chart {
  max-width: 100% !important;
  overflow: hidden; }
  #profile_builder #pb-facebook-chart svg, #profile_builder #pb-linkedin-chart svg, #profile_builder #pb-twitter-chart svg, #profile_builder #pb-xing-chart svg {
    display: block;
    margin: 0px auto 10px;
    width: auto;
    max-width: 100%; }
    #profile_builder #pb-facebook-chart svg .generalProgress, #profile_builder #pb-linkedin-chart svg .generalProgress, #profile_builder #pb-twitter-chart svg .generalProgress, #profile_builder #pb-xing-chart svg .generalProgress {
      font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
      text-transform: uppercase;
      font-size: 1em; }
#profile_builder .strengthen-btn {
  background: #f5d66e;
  padding: 0.2em 0.8em;
  color: white;
  border: none;
  box-shadow: none;
  margin-top: -0.3em; }
  #profile_builder .strengthen-btn:active, #profile_builder .strengthen-btn:focus {
    outline: none;
    background: #f3cf56; }

@media screen and (min-width: 768px) {
  .dashboard-top {
    height: 27%; } }
@media (min-width: 768px) {
  .navbar-toggle {
    position: relative;
    float: right;
    display: block; }

  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    width: 100%; }

  .navbar-default .navbar-toggle {
    margin-top: 10px;
    margin-right: -15px; } }
@media screen and (min-width: 768px) {
  .nav-tabs {
    bottom: 0.8em; }
    .nav-tabs li > a, .nav-tabs li.active > a, .nav-tabs li.active > a:focus, .nav-tabs li.active > a:hover {
      font-size: 2.2vw; } }
@media screen and (min-width: 400px) {
  .user-title {
    margin-top: 15px; } }
@media screen and (min-width: 400px) {
  .user-avatar {
    height: 100px;
    width: 100px; } }
@media screen and (max-width: 320px) {
  .dashboard-top {
    height: 42%; } }
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before {
  content: " ";
  display: table; }
.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

a {
  color: #f0f0f0;
  text-decoration: none; }
  a:hover {
    color: #000; }

.icon-drop:before, .icon-arrow-left:before {
  font-family: "fontawesome";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px; }

.container > header nav a:hover:before {
  color: #fff; }

.icon-drop:before {
  content: ""; }

.icon-arrow-left:before {
  content: ""; }

/* General styles for all menus */
.cbp-spmenu {
  background-color: #22292f;
  background: -webkit-linear-gradient(-45deg, #22292f, #56616f);
  background: linear-gradient(-45deg, #22292f, #56616f);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed; }
  .cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif; }
    .cbp-spmenu a:hover {
      background: #22292f;
      text-decoration: none; }
    .cbp-spmenu a:active {
      background: #22292f;
      color: white;
      text-decoration: none; }

.navbar-toggle {
  margin-top: 0px;
  margin-right: 10px; }

/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
  width: 85vw;
  height: 100%;
  top: 0;
  z-index: 1000; }
  .cbp-spmenu-vertical .cpb-user {
    position: relative;
    height: 3.75em;
    width: 100%; }
    .cbp-spmenu-vertical .cpb-user .cpb-avatar {
      height: 7.46269vh;
      width: 7.46269vh;
      border-radius: 50px;
      overflow: hidden;
      margin-left: 2.6em;
      float: left;
      margin-right: 0.7em; }
    .cbp-spmenu-vertical .cpb-user h4.cpb-user-name {
      font-size: 1em;
      font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
      padding-top: 2vh;
      color: white;
      opacity: 0.8; }
  .cbp-spmenu-vertical .cbp-links {
    margin-top: 20vh; }
    .cbp-spmenu-vertical .cbp-links a {
      padding: 0.6em 2.6em;
      text-transform: uppercase; }
  .cbp-spmenu-vertical .cpb-adecco-logo {
    bottom: 12vh;
    height: 6vh;
    left: 2.6em; }
  .cbp-spmenu-vertical ul {
    position: absolute;
    bottom: 2vh; }
    .cbp-spmenu-vertical ul li {
      float: left;
      list-style: none;
      margin-right: 5px;
      margin-left: 5px; }
      .cbp-spmenu-vertical ul li a {
        font-family: "vag_roundedregular", helvetica, arial, sans-serif;
        font-size: 0.8em;
        color: white;
        opacity: 0.6; }

/* Vertical menu that slides from the left or right */
.cbp-spmenu-right {
  right: -85vw; }
  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px; }

/* Push classes applied to the body */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.cbp-spmenu-push-toleft {
  left: -85vw; }

/* Transitions */
.cbp-spmenu, .cbp-spmenu-push {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }

/* Example media queries */
@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px; }

  .cbp-spmenu-right {
    right: -190px; }

  .cbp-spmenu-push-toright {
    left: 190px; } }
body.loginBg {
  background-color: #bec2cd;
  background-image: url(../img/loginbg@2x.png);
  background-size: cover;
  background-repeat: no-repeat; }

.login-logo {
  margin-top: 14vh; }
  .login-logo img {
    height: 10vh;
    margin: auto;
    width: auto;
    display: block; }

.login-form {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 7.1875em;
  width: 100%;
  max-width: 18.75em; }
  .login-form input {
    height: 40px;
    background: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 0;
    color: #333;
    width: 100%;
    margin: auto;
    max-width: 300px;
    padding-left: 0.4em;
    font-size: 1em;
    margin-top: 2em; }
    .login-form input::-webkit-input-placeholder {
      color: #333; }
    .login-form input:focus {
      outline: 0;
      border-color: #f5d66e;
      box-shadow: none; }
  .login-form .submit-btn, .login-form .submitted-btn, .login-form .social-bottom .done-btn, .social-bottom .login-form .done-btn, .login-form .social-next-btn {
    width: 100%;
    max-width: 300px;
    margin-top: 1.5em;
    background: #f5d66e;
    border: 0;
    color: white;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    font-size: 1.15em;
    padding: 0.9em;
    height: auto;
    letter-spacing: 1px;
    line-height: normal; }
    .login-form .submit-btn:active, .login-form .submitted-btn:active, .login-form .social-bottom .done-btn:active, .social-bottom .login-form .done-btn:active, .login-form .social-next-btn:active, .login-form .submit-btn:hover, .login-form .submitted-btn:hover, .login-form .social-bottom .done-btn:hover, .social-bottom .login-form .done-btn:hover, .login-form .social-next-btn:hover {
      background: #f3cf56;
      outline: 0;
      border: 0;
      color: white; }
  .login-form .forgot-link {
    float: right;
    color: white;
    margin-top: 0.5em;
    text-decoration: none;
    font-size: 0.8em;
    font-family: "vag_roundedregular", helvetica, arial, sans-serif; }

.signup-link {
  position: absolute;
  bottom: 0.95em;
  color: white;
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 1.1em;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  float: left; }
  .signup-link:hover, .signup-link:focus, .signup-link:visited {
    color: white;
    text-decoration: none; }

.login-trouble-signing-link {
  font-family: "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 0.8em;
  float: right;
  position: absolute;
  right: 0.95em;
  bottom: 1.6em;
  z-index: 3;
  color: white; }
  .login-trouble-signing-link:hover, .login-trouble-signing-link:focus, .login-trouble-signing-link:visited {
    color: white;
    text-decoration: none; }

#login-password {
  font-family: "Helvetica", Arial, sans-serif; }

.login-logo {
  margin-top: 14vh; }
  .login-logo img {
    height: 10vh;
    margin: auto;
    width: auto;
    display: block; }

.signup-form {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 2em;
  width: 100%;
  max-width: 88vw; }
  .signup-form input {
    height: 40px;
    background: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 0;
    color: #333;
    width: 100%;
    margin: auto;
    max-width: 300px;
    padding-left: 0.4em;
    font-size: 1em;
    margin-top: 2.5em; }
    .signup-form input::-webkit-input-placeholder {
      color: #333; }
    .signup-form input:focus {
      outline: 0;
      border-color: #f5d66e;
      box-shadow: none; }
  .signup-form .submit-btn, .signup-form .submitted-btn, .signup-form .social-bottom .done-btn, .social-bottom .signup-form .done-btn, .signup-form .social-next-btn {
    width: 100%;
    max-width: 300px;
    margin-top: 1em;
    background: #f5d66e;
    border: 0;
    color: white;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    font-size: 1.15em;
    padding: 0.9em;
    height: auto;
    letter-spacing: 1px;
    line-height: normal; }
    .signup-form .submit-btn:active, .signup-form .submitted-btn:active, .signup-form .social-bottom .done-btn:active, .social-bottom .signup-form .done-btn:active, .signup-form .social-next-btn:active, .signup-form .submit-btn:hover, .signup-form .submitted-btn:hover, .signup-form .social-bottom .done-btn:hover, .social-bottom .signup-form .done-btn:hover, .signup-form .social-next-btn:hover {
      background: #f3cf56;
      outline: 0;
      border: 0;
      color: white; }
  .signup-form .forgot-link {
    float: right;
    color: white;
    margin-top: 0.5em;
    text-decoration: none;
    font-size: 0.8em;
    font-family: "vag_roundedregular", helvetica, arial, sans-serif; }
  .signup-form #signup-policies {
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 3em; }
    .signup-form #signup-policies ul {
      position: absolute;
      padding: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      text-align: center;
      display: block;
      height: 1em; }
      .signup-form #signup-policies ul li {
        width: 33%;
        text-align: center;
        list-style: none;
        display: inline; }
        .signup-form #signup-policies ul li a {
          font-family: "vag_roundedregular", helvetica, arial, sans-serif;
          font-size: 0.75em;
          color: white;
          text-decoration: underline;
          opacity: 0.8; }
      .signup-form #signup-policies ul li + li:before {
        content: "|";
        padding: 0 10px;
        color: white;
        opacity: 0.5; }

.login-trouble-signing-link {
  font-family: "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 0.8em;
  float: right;
  position: absolute;
  right: 0.95em;
  bottom: 1.6em;
  z-index: 3;
  color: white; }
  .login-trouble-signing-link:hover, .login-trouble-signing-link:focus, .login-trouble-signing-link:visited {
    color: white;
    text-decoration: none; }

.ahaa-link {
  font-family: "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 0.8em;
  margin-top: 1.5em;
  color: white;
  float: right; }
  .ahaa-link:hover, .ahaa-link:focus, .ahaa-link:visited {
    color: white;
    text-decoration: none; }

.signedup-statement {
  margin-top: 10vh; }

.login-logo {
  margin-top: 14vh; }
  .login-logo img {
    height: 10vh;
    margin: auto;
    width: auto;
    display: block; }

.signup-form {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 2em;
  width: 100%;
  max-width: 88vw; }
  .signup-form .submit-btn, .signup-form .submitted-btn, .signup-form .social-bottom .done-btn, .social-bottom .signup-form .done-btn, .signup-form .social-next-btn {
    width: 100%;
    max-width: 300px;
    margin-top: 1em;
    background: #f5d66e;
    border: 0;
    color: white;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    font-size: 1.15em;
    padding: 0.9em;
    height: auto;
    letter-spacing: 1px;
    line-height: normal; }
    .signup-form .submit-btn:active, .signup-form .submitted-btn:active, .signup-form .social-bottom .done-btn:active, .social-bottom .signup-form .done-btn:active, .signup-form .social-next-btn:active, .signup-form .submit-btn:hover, .signup-form .submitted-btn:hover, .signup-form .social-bottom .done-btn:hover, .social-bottom .signup-form .done-btn:hover, .signup-form .social-next-btn:hover {
      background: #f3cf56;
      outline: 0;
      border: 0;
      color: white; }

.login-bottom .signup-policies {
  position: absolute;
  height: auto;
  bottom: 0.5em;
  right: 1em;
  z-index: 999; }
  .login-bottom .signup-policies ul {
    text-align: right; }
    .login-bottom .signup-policies ul li {
      width: 50%;
      text-align: center;
      list-style: none;
      display: inline; }
      .login-bottom .signup-policies ul li a {
        font-family: "vag_roundedregular", helvetica, arial, sans-serif;
        font-size: 0.75em;
        color: white;
        text-decoration: underline;
        opacity: 0.8; }
    .login-bottom .signup-policies ul li + li:before {
      content: "|";
      padding: 0 10px;
      color: white;
      opacity: 0.5; }

.signedup-statement {
  margin-top: 10vh; }

.confirmation-statement {
  margin-top: 10vh; }

.second-confirmation-statement {
  margin-top: 5vh; }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 9px 3px;
    margin-bottom: 0; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #f4f2f9;
      width: 21px;
      height: 3px;
      border-radius: 2px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent; }
  .navbar-default .social-networks-title {
    color: white;
    text-align: center; }

.user-avatar {
  position: relative;
  height: 95px;
  width: 95px;
  background: #fafafa;
  border-radius: 50px;
  border: 4px solid #f1f0f6;
  margin: auto;
  display: block;
  overflow: hidden; }
  .user-avatar img {
    height: 100px;
    width: 100px; }

.user-title {
  text-align: center;
  color: #f4f2f9;
  margin-top: 10px; }
  .user-title h4 {
    font-size: 1.3125em;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    margin: 0; }
  .user-title p {
    font-size: 0.9375;
    font-family: "vag_roundedregular", helvetica, arial, sans-serif;
    margin-top: 5px; }

.social-buttons {
  position: relative;
  margin-top: 5vh; }

.submit-btn, .submitted-btn, .social-bottom .done-btn, .social-next-btn {
  width: 100%;
  max-width: 300px;
  background: #f5d66e;
  border: 0;
  color: white;
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 1.15em;
  padding: 0.9em;
  height: auto;
  letter-spacing: 1px;
  line-height: normal; }
  .submit-btn:active, .submitted-btn:active, .social-bottom .done-btn:active, .social-next-btn:active, .submit-btn:hover, .submitted-btn:hover, .social-bottom .done-btn:hover, .social-next-btn:hover {
    background: #f3cf56;
    outline: 0;
    border: 0;
    color: white; }

.submitted-btn {
  background: transparent;
  border: 2px solid #f5d66e;
  color: white; }

.social-btn {
  background-repeat: no-repeat;
  background-size: initial;
  background-position: 1em;
  margin-top: 1em; }

.facebook-btn {
  background-image: url(../img/facebook-icon.svg); }

.twitter-btn {
  background-image: url(../img/twitter-icon.svg); }

.xing-btn {
  background-image: url(../img/xing-icon.svg); }

.linkedin-btn {
  background-image: url(../img/linkedin-icon.svg); }

.viadeo-btn {
  background-image: url(../img/viadeo-icon.svg); }

.social-bottom .done-btn {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: none;
  border-radius: 0; }

@media (min-width: 768px) {
  .navbar-toggle {
    position: relative;
    float: right;
    display: block; }

  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    width: 100%; }

  .navbar-default .navbar-toggle {
    margin-top: 10px;
    margin-right: -15px; } }
@media screen and (min-width: 400px) {
  .user-title {
    margin-top: 15px; } }
@media screen and (min-width: 400px) {
  .user-avatar {
    height: 100px;
    width: 100px; } }
.greyBg {
  background-color: #d1d3dc;
  background: -webkit-linear-gradient(-45deg, #c0c3cb, #f8f7fc);
  background: linear-gradient(-45deg, #c0c3cb, #f8f7fc);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.profile-overview-top {
  position: relative;
  height: auto;
  padding-bottom: 1em;
  width: 100%;
  background-color: #5bbaaf;
  background: -webkit-linear-gradient(-45deg, #458d85, #5bbaaf);
  background: linear-gradient(-45deg, #458d85, #5bbaaf);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 9px 3px;
    margin-bottom: 0; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #f4f2f9;
      width: 21px;
      height: 3px;
      border-radius: 2px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent; }

.overview-social-icon {
  position: relative;
  height: 95px;
  width: 95px;
  background: #C4D36D;
  border-radius: 50px;
  border: 4px solid rgba(241, 246, 240, 0.8);
  margin: auto;
  display: block;
  overflow: hidden; }
  .overview-social-icon img {
    height: 40px;
    width: 40px;
    color: #f5d66e;
    display: block;
    margin: 20px auto; }

.overview-paragraph {
  color: white;
  text-align: center;
  max-width: 90%;
  display: block;
  margin: 1em auto 0; }

ul.overview-list {
  position: relative;
  margin-top: 1em;
  padding: 0;
  margin-bottom: 20px;
  border-top: 1px solid #c3c3c3;
  margin-top: 30px;
  font-family: "vag_roundedregular", helvetica, arial, sans-serif; }
  ul.overview-list li {
    list-style: none;
    height: 4em;
    border-bottom: 1px solid #c3c3c3; }
    ul.overview-list li .center-table {
      display: table;
      height: 4em;
      width: 100%; }
      ul.overview-list li .center-table .circle-container {
        display: table-cell;
        margin: 0;
        border-radius: 1em;
        vertical-align: middle; }
        ul.overview-list li .center-table .circle-container .circle {
          height: 1em;
          width: 1em;
          background: #4fa299;
          border-radius: 1em;
          margin-right: 5px; }
      ul.overview-list li .center-table .text-bullet {
        display: table-cell;
        margin: 0;
        vertical-align: middle;
        width: 70%; }
      ul.overview-list li .center-table .overview-pts {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        color: #757575; }

.greyBg {
  background-color: #d1d3dc;
  background: -webkit-linear-gradient(-45deg, #c0c3cb, #f8f7fc);
  background: linear-gradient(-45deg, #c0c3cb, #f8f7fc);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.social-search-bg {
  position: relative;
  height: auto;
  padding-bottom: 1em;
  width: 100%;
  background-color: #5bbaaf;
  background: -webkit-linear-gradient(-45deg, #458d85, #5bbaaf);
  background: linear-gradient(-45deg, #458d85, #5bbaaf);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 9px 3px;
    margin-bottom: 0; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #f4f2f9;
      width: 21px;
      height: 3px;
      border-radius: 2px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent; }

h1.socialsearch-title {
  font-family: "vag_roundedregular", helvetica, arial, sans-serif;
  color: white;
  margin: 0;
  font-size: 2.5em; }

.search-content {
  width: 95%;
  display: block;
  margin: auto;
  margin-top: 2em; }

.social-next-btn {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 1.5em; }

.radio {
  padding-left: 20px;
  margin-bottom: 1em; }

.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  line-height: 1em;
  font-family: "vag_roundedregular", helvetica, arial, sans-serif; }

.radio label::after {
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif; }

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #67696e;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out; }

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 17px;
  height: 17px;
  left: 0px;
  top: 0px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1; }

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }

.radio input[type="radio"]:disabled + label {
  opacity: 0.65; }

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed; }

.radio.radio-inline {
  margin-top: 0; }

.radio-danger input[type="radio"] + label::after {
  background-color: #85bae7; }

.radio-danger input[type="radio"]:checked + label {
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif; }

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #85bae7; }

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #85bae7; }

.fancy-select {
  position: relative;
  font-size: 14px;
  font-family: "vag_roundedregular", helvetica, arial, sans-serif; }
  .fancy-select select:focus + div.trigger.open {
    box-shadow: none; }
  .fancy-select .trigger {
    height: 44px;
    border: 1px solid #67696e;
    border-radius: 6px;
    background-color: white;
    box-shadow: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    color: #999;
    padding: 12px;
    transition: all 240ms ease-out;
    -webkit-transition: all 240ms ease-out;
    -moz-transition: all 240ms ease-out;
    -ms-transition: all 240ms ease-out;
    -o-transition: all 240ms ease-out; }
  .fancy-select .trigger:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #67696e;
    top: 18px;
    right: 9px; }
  .fancy-select .trigger.open {
    color: #999; }
  .fancy-select ul.options {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 40px;
    right: 0;
    padding-left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 50;
    overflow: auto;
    background: #fff;
    border-radius: 0px;
    color: #9d9eac;
    border: 1px solid #67696e;
    border-bottom: none;
    width: 100%;
    transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out; }
  .fancy-select ul.options.open {
    visibility: visible;
    top: 50px;
    opacity: 1;
    transition: opacity 300ms ease-out, top 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
    -o-transition: opacity 300ms ease-out, top 300ms ease-out; }
  .fancy-select ul.options.overflowing {
    top: auto;
    bottom: 40px;
    transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out; }
  .fancy-select ul.options.overflowing.open {
    top: auto;
    bottom: 50px;
    transition: opacity 300ms ease-out, bottom 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
    -o-transition: opacity 300ms ease-out, bottom 300ms ease-out; }
  .fancy-select ul.options li {
    padding: 8px 12px;
    color: #333;
    border-bottom: 1px solid #67696e;
    cursor: pointer;
    white-space: nowrap;
    transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out; }
  .fancy-select ul.options li.selected, .fancy-select ul.options li.hover {
    color: #77828b; }

.greyBg {
  background-color: #d1d3dc;
  background: -webkit-linear-gradient(-45deg, #c0c3cb, #f8f7fc);
  background: linear-gradient(-45deg, #c0c3cb, #f8f7fc);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.social-search-bg {
  position: relative;
  height: auto;
  padding-bottom: 1em;
  width: 100%;
  background-color: #5bbaaf;
  background: -webkit-linear-gradient(-45deg, #458d85, #5bbaaf);
  background: linear-gradient(-45deg, #458d85, #5bbaaf);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 9px 3px;
    margin-bottom: 0; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #f4f2f9;
      width: 21px;
      height: 3px;
      border-radius: 2px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent; }

.criterias-paragraph {
  color: white;
  text-align: left;
  max-width: 80%;
  display: block;
  margin: 1em 1em 0;
  font-size: 0.9em; }

.search-criterias {
  width: 95%;
  display: block;
  margin: auto;
  margin-top: 2em; }
  .search-criterias .checkbox {
    margin-bottom: 1.5em;
    margin-left: 1em; }

.social-next-btn {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 1.5em; }

.checkbox {
  padding-left: 20px;
  margin-bottom: 1em; }
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    line-height: 1em;
    font-family: "vag_roundedregular", helvetica, arial, sans-serif; }
  .checkbox label::after {
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif; }
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #67696e;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 17px;
    height: 17px;
    left: 0px;
    top: 0px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1; }
  .checkbox input[type="checkbox"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
  .checkbox input[type="checkbox"]:disabled + label::before {
    cursor: not-allowed; }
  .checkbox .radio-inline {
    margin-top: 0; }

.checkbox-danger input[type="checkbox"] + label::after {
  background-color: #85bae7; }
.checkbox-danger input[type="checkbox"]:checked + label {
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif; }
.checkbox-danger input[type="checkbox"]:checked + label::before {
  border-color: #85bae7; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  background-color: #85bae7; }

.lightgreyBg {
  background-color: #dce1ea;
  background: -webkit-linear-gradient(-45deg, #dce1ea, #f8f7fc);
  background: linear-gradient(-45deg, #dce1ea, #f8f7fc);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.social-search-bg {
  position: relative;
  height: auto;
  padding-bottom: 1em;
  width: 100%;
  background-color: #5bbaaf;
  background: -webkit-linear-gradient(-45deg, #458d85, #5bbaaf);
  background: linear-gradient(-45deg, #458d85, #5bbaaf);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 9px 3px;
    margin-bottom: 0; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #f4f2f9;
      width: 21px;
      height: 3px;
      border-radius: 2px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent; }

.social-rate-head h2 {
  font-size: 1.5em;
  color: white;
  text-align: center;
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
  margin-bottom: 1.5em; }
.social-rate-head h5 {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
  text-align: center; }
.social-rate-head .criterias {
  display: block;
  width: 85%;
  margin: auto;
  border: 1px solid white;
  border-radius: 5px;
  display: table; }
  .social-rate-head .criterias .criteria {
    width: 32%;
    display: inline-block;
    border-right: 1px solid white;
    padding: 0.3em;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.3em;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    color: white;
    display: table-cell;
    vertical-align: middle; }
    .social-rate-head .criterias .criteria:last-child {
      border-right: none; }

.search-rate {
  width: 90%;
  display: block;
  position: relative;
  margin: 2em auto 0; }
  .search-rate img {
    display: block;
    margin: auto;
    width: auto;
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%; }

.rate-banner {
  position: relative;
  height: 40px;
  width: 60%;
  display: block;
  margin: 2em auto; }
  .rate-banner .thumb-down {
    float: left;
    display: inline-block; }
  .rate-banner .thumb-up {
    float: right;
    display: inline-block; }
  .rate-banner .thumb-na {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: auto;
    left: 0;
    right: 0; }

.lightgreyBg {
  background-color: #dce1ea;
  background: -webkit-linear-gradient(-45deg, #dce1ea, #f8f7fc);
  background: linear-gradient(-45deg, #dce1ea, #f8f7fc);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.report-card-bg {
  position: relative;
  height: auto;
  padding-bottom: 0.5em;
  width: 100%;
  background-color: #5bbaaf;
  background: -webkit-linear-gradient(-45deg, #458d85, #5bbaaf);
  background: linear-gradient(-45deg, #458d85, #5bbaaf);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 9px 3px;
    margin-bottom: 0; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #f4f2f9;
      width: 21px;
      height: 3px;
      border-radius: 2px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent; }

.report-card-paragraph {
  color: white;
  margin-top: 0.7em;
  margin-bottom: 0;
  line-height: 1.5em; }

.search-rate {
  width: 90%;
  display: block;
  position: relative;
  margin: 1em auto 0; }
  .search-rate img {
    display: block;
    margin: auto;
    width: auto;
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%; }

.report-feedback {
  position: relative;
  height: 20px;
  width: 30%;
  display: block;
  margin: 0.5em auto;
  color: #333;
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif; }
  .report-feedback .thumb-down {
    color: #333;
    float: left;
    display: inline-block;
    text-decoration: none; }
    .report-feedback .thumb-down img {
      margin-right: 5px; }
  .report-feedback .thumb-up {
    color: #333;
    margin-right: 10px;
    float: right;
    display: inline-block;
    text-decoration: none; }
    .report-feedback .thumb-up img {
      margin-right: 5px; }

#dashboard-chart svg {
  margin: 0.7em auto 0;
  display: block; }
#dashboard-chart .generalProgress {
  font-size: 40px;
  font-weight: bold;
  top: -10px; }
#dashboard-chart .weeklyProgress {
  font-size: 1.5em;
  text-anchor: middle;
  font-weight: bold;
  padding-top: 10px; }

.report-banner {
  position: absolute;
  height: 50px;
  width: 100%;
  background: #293339;
  bottom: 0;
  padding: 1em; }
  .report-banner h4 {
    text-transform: uppercase;
    color: white;
    float: right;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    margin: 0; }
    .report-banner h4 img {
      vertical-align: top; }

.report-card--title {
  font-size: 2em;
  color: white;
  margin-top: 0; }

.lightgreyBg {
  background-color: #dce1ea;
  background: -webkit-linear-gradient(-45deg, #dce1ea, #f8f7fc);
  background: linear-gradient(-45deg, #dce1ea, #f8f7fc);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.report-card-bg {
  position: relative;
  height: auto;
  padding-bottom: 0.5em;
  width: 100%;
  background-color: #5bbaaf;
  background: -webkit-linear-gradient(-45deg, #458d85, #5bbaaf);
  background: linear-gradient(-45deg, #458d85, #5bbaaf);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2); }

.navbar {
  margin-bottom: 0px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 9px 3px;
    margin-bottom: 0; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #f4f2f9;
      width: 21px;
      height: 3px;
      border-radius: 2px; }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent; }

.report-card--title {
  font-size: 2em;
  color: white;
  margin-top: 0; }

.success-next {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0; }

.lightgreyBg {
  background-color: #dce1ea;
  background: -webkit-linear-gradient(-45deg, #dce1ea, #f8f7fc);
  background: linear-gradient(-45deg, #dce1ea, #f8f7fc);
  background-size: cover;
  background-repeat: no-repeat; }

.darkgreyBg {
  background-color: #dce1ea;
  background: -webkit-linear-gradient(-45deg, #848891, #b9bcc7);
  background: linear-gradient(-45deg, #848891, #b9bcc7);
  background-size: cover;
  background-repeat: no-repeat; }

.header-bg {
  background-color: #5bbaaf;
  background: -webkit-linear-gradient(-45deg, #458d85, #5bbaaf);
  background: linear-gradient(-45deg, #458d85, #5bbaaf);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.2);
  height: 3.125em; }

.report-banner {
  position: absolute;
  height: 50px;
  width: 100%;
  background: #293339;
  bottom: 0;
  padding: 1em; }
  .report-banner h4.left {
    text-transform: uppercase;
    color: white;
    float: left;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    margin: 0; }
    .report-banner h4.left img {
      vertical-align: top; }
  .report-banner .arrow-left {
    float: left; }
  .report-banner h4.right {
    text-transform: uppercase;
    color: white;
    float: right;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
    margin: 0; }
    .report-banner h4.right img {
      vertical-align: top; }
  .report-banner .arrow-right {
    float: right; }

.filter-button {
  margin-top: 1em; }
  .filter-button .close-icon {
    display: none;
    outline: none; }
  .filter-button .filter-icon {
    display: block;
    outline: none; }
  .filter-button:focus .close-icon {
    display: block;
    outline: none; }
  .filter-button:focus .filter-icon {
    display: none;
    outline: none; }

#search-filter .well {
  color: #333;
  border-radius: 0;
  border: 0;
  margin-top: 10px;
  padding: 5px;
  margin-bottom: 5px; }
  #search-filter .well .filter-criterias .checkbox label::before {
    border: 1px solid white; }

#search-results .search-result {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #fafafa;
  background-image: url(../img/arrow_right.svg);
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: right; }
  #search-results .search-result h4 {
    font-size: 1em;
    font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif; }
  #search-results .search-result p {
    font-size: 0.9em;
    margin-bottom: 5px; }

html {
  font-size: 16px;
  height: 100%; }

body {
  min-height: 100%;
  height: 100%;
  background-color: white;
  font-family: "vag_roundedregular", helvetica, arial, sans-serif; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0xz;
  padding-left: 0; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.align-center {
  text-align: center; }

.adecco-logo {
  position: absolute;
  bottom: 0.95em;
  left: 0.95em;
  z-index: 1; }

.container {
  min-height: 100%;
  margin-bottom: -40px;
  padding-bottom: 40px; }

h4.header-title {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1em;
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
  margin-top: 1em;
  margin-bottom: 1em; }

.submit-btn, .submitted-btn, .social-bottom .done-btn, .social-next-btn {
  width: 100%;
  max-width: 300px;
  margin-top: 1em;
  background: #f5d66e;
  border: 0;
  color: white;
  font-family: "vag_rounded-boldregular", "vag_roundedregular", helvetica, arial, sans-serif;
  font-size: 1.15em;
  padding: 0.9em;
  height: auto;
  letter-spacing: 1px;
  line-height: normal; }
  .submit-btn:active, .submitted-btn:active, .social-bottom .done-btn:active, .social-next-btn:active, .submit-btn:hover, .submitted-btn:hover, .social-bottom .done-btn:hover, .social-next-btn:hover {
    background: #f3cf56;
    outline: 0;
    border: 0;
    color: white; }

.report-success-content {
  margin-top: 1em;
  display: block;
  width: 100%; }
  .report-success-content p {
    margin-top: 1em;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px; }

.navbar-default .navbar-toggle {
  border-color: transparent;
  padding: 0px;
  position: absolute;
  right: 5px;
  top: 12px;
  z-index: 9999; }

.back-btn {
  position: absolute;
  height: 1em;
  width: 1em;
  top: 0.5em;
  left: 3px;
  z-index: 999; }
  .back-btn img {
    opacity: 0.8; }

@media screen and (min-width: 768px) {
  .navbar-default .navbar-toggle {
    right: 15px;
    top: 5px;
    padding-right: 15px; } }

/*# sourceMappingURL=main.css.map */
