// Variables
$yellow: #f5d66e
$yellow-dark: darken($yellow, 5%)

$vag_bold: 'vag_rounded-boldregular', 'vag_roundedregular', helvetica, arial, sans-serif
$vag_regular: 'vag_roundedregular', helvetica, arial, sans-serif

// General setups
.centered
    display: block
    margin: auto
    
.bold
    font-family: $vag_bold

// Importing partials
@import fonts
@import login-screen
@import signup-screen
@import start-screen
@import dashboard-screen
@import sidemenu
@import password-screen
@import signup-email-sent-screen
@import signup-confirmation-screen
@import social-icons-screen
@import profile-overview
@import socialsearch-start
@import radio-buttons
@import dropdown
@import socialsearch-criterias
@import checkbox-buttons
@import socialsearch-rate
@import report-card
@import report-success
@import search-results
@import modal
@import league_table-screen

// General style
html
    //Set general font size here, 16px = 1rem
    font-size: 16px
    height: 100%
    
body 
    //Forcing body to take 100% height
    min-height: 100%
    height: 100%
    background-color: white
    font-family: $vag_regular

.row.no-gutters
    margin-right: 0
    margin-left: 0
    
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"]
    padding-right: 0xz
    padding-left: 0

.float-right
    float: right
    
.float-left
    float: left
    
.align-center
    text-align: center
    
.adecco-logo
    position: absolute
    bottom: .95em
    left: .95em
    z-index: 1

.container
    min-height: 100% 
    margin-bottom: -40px // Put negative height of the footer here
    padding-bottom: 40px // Put height of the footer here. Needed for higher than screen height pages


h4.header-title
    color: rgba(255, 255, 255, .8)
    text-align: center
    font-size: 1em
    font-family: $vag_bold
    margin-top: 1em
    margin-bottom: 1em
    

.submit-btn
    @extend .centered
    width: 100%
    max-width: 300px
    margin-top: 1em
    background: $yellow
    border: 0
    color: white
    font-family: $vag_bold
    font-size: 1.15em
    padding: .9em
    height: auto
    letter-spacing: 1px
    line-height: normal
    
    &:active, &:hover
        background: $yellow-dark
        outline: 0
        border: 0
        color: white

.report-success-content
    margin-top: 1em
    display: block
    width: 100%
    p
        margin-top: 1em
        text-align: center
        padding-left: 10px
        padding-right: 10px

.navbar-default 
    .navbar-toggle
        border-color: transparent
        padding: 0px
        position: absolute
        right: 5px
        top: 12px
        z-index: 9999
        
.back-btn
    position: absolute
    height: 1em
    width: 1em
    top: .5em
    left: 3px
    z-index: 999
    img
        opacity: .8
        

@media screen and (min-width:768px)
    .navbar-default 
        .navbar-toggle
            right: 15px
            top: 5px
            padding-right: 15px