// Importing partials
@import fonts

// Variables
$yellow: #f5d66e
$yellow-dark: darken($yellow, 5%)

$vag_bold: 'vag_rounded-boldregular', 'vag_roundedregular', helvetica, arial, sans-serif
$vag_regular: 'vag_roundedregular', helvetica, arial, sans-serif

// General setups
.centered
    margin: auto
    display: block

// Custom styles

html, body
    //Set general font size here, 16px = 1rem
    font-size: 16px
    //Set general font family here
    font-family: 'vag_roundedregular', 'helvetica', Arial, sans-serif
    height: 100%
    
body 
    //Forcing body to take 100% height
    min-height: 100%
    height: 100%
    
body.greenBg

    //Fallback
    background-color: #5bbaaf
    background-image: url(../img/startscreen@2x.png)
    
    //Chrome 10-25, Safari 5.1-6
    background: -webkit-linear-gradient(-45deg, #458d85, #5bbaaf)
    //W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    background: linear-gradient( -45deg, #458d85, #5bbaaf)
    background-size: cover
    background-repeat: no-repeat

body.loginBg 
    //Fallback
    background-color: #bec2cd
    
    background-image: url(../img/loginbg@2x.png)
    background-size: cover
    background-repeat: no-repeat

.start-logo
    margin-top: 10.87500em
    img
        margin: auto
        width: auto
        display: block
        height: 16vh

.login-logo
    @extend .start-logo
    margin-top: 14vh
    img
        height: 10vh

.login-form
    position: relative
    display: block
    margin: auto
    margin-top: 7.1875em
    width: 100%
    max-width: 18.75em
    
    input
        height: 40px
        background: transparent
        border: 0
        box-shadow: none
        border-bottom: 1px solid rgba(255,255,255,0.7)
        border-radius: 0
        color: #333
        width: 100%
        max-width: 18.75em
        padding-left: .4em
        font-size: 1em
        margin-top: 2em
        

        &::-webkit-input-placeholder
            color: #333
            
        &:focus
            outline: 0
            border-color: $yellow
            box-shadow: none
    
    .submit-btn
        width: 100%
        max-width: 300px
        margin-top: 1.5em
        background: $yellow
        border: 0
        color: white
        font-family: $vag_bold
        font-size: 1.15em
        padding: .9em
        height: auto
        letter-spacing: 1px
        line-height: normal
        
        &:active, &:hover
            background: $yellow-dark
            outline: 0
            border: 0
            color: white
        
    .forgot-link
        float: right
        color: white
        margin-top: .5em
        text-decoration: none
        font-size: .8em
        font-family: $vag_regular


.adecco-logo
    position: absolute
    bottom: .95em
    left: .95em
    z-index: 1

.signup-link
    position: absolute
    bottom: .95em
    color: white
    font-family: $vag_bold
    font-size: 1.1em
    text-align: center
    left: 0
    right: 0
    z-index: 2
    margin: auto
    width: 100%
    float: left
    
    &:hover, &:focus, &:visited
        color: white
        text-decoration: none
    
.login-trouble-signing-link
    font-family: $vag_regular
    font-size: .8em
    float: right
    position: absolute
    right: .95em
    bottom: 1.6em
    z-index: 1
    color: white
    
    &:hover, &:focus, &:visited
        color: white
        text-decoration: none
